<div class="column-0">
  <div class="d-flex card_wrapper_0-0-0 align-items-center">
    <%= render partial: "recipe_card", locals: { recipe: @recipe, global: $global, button_count: @button_count} %>
    <div class="column-1">
      <div class="d-flex card_wrapper_0-1-0 align-items-center">
        <div class="column-2">
          <div class="d-flex card_wrapper_1-1-0 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-2-0 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-3-0 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-4-0 align-items-center">
          </div>
        </div>
      </div>
      <div class="d-flex card_wrapper_0-1-1 align-items-center">
        <div class="column-2">
          <div class="d-flex card_wrapper_1-1-1 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-2-1 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-3-1 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-4-1 align-items-center">
          </div>
        </div>
      </div>
      <div class="d-flex card_wrapper_0-1-2 align-items-center">
        <div class="column-2">
          <div class="d-flex card_wrapper_1-1-2 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-2-2 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-3-2 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-4-2 align-items-center">
          </div>
        </div>
      </div>
      <div class="d-flex card_wrapper_0-1-3 align-items-center">
        <div class="column-2">
          <div class="d-flex card_wrapper_1-1-3 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-2-3 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-3-3 align-items-center">
          </div>
          <div class="d-flex card_wrapper_1-4-3 align-items-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
