<div class="container">
  <%= simple_form_for @item do |f| %>
    <div class="card" style="max-width: 222px;">
      <div class="row g-0">
        <h5 class="text-center">素材1</h5>
        <div class="col-3 align-items-center d-flex">
        </div>
        <div class="col-9">
          <div class="card-body text-muted">
            <%= f.input :item_name, input_html: { style: "width: 100%; height: 23px; margin-bottom: 5px;" }%>
            <% # 画像ファイル選択ボタンを装飾 %>
            <%= f.file_field :item_image %>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit "登録", class: "btn btn-outline-dark" %>
  <% end %>
</div>